#page-wrap {}

#page {
  width:960px;
  background-color: white;
  margin:0 auto;
  padding: 20px 19px 20px 19px;
}

#gradient-wrap {
  border:5px solid #d6d6d6;
  border-radius: 7px;
  padding:10px;
}

g {
  border:2px solid blue;
}