/* layout and global */
body {
	font-family: Helvetica
}

#page-wrap {
	width:960px;
	margin: 0 auto;
	border: 6px solid #f3f3f3;
	border-radius: 10px;
	padding: 12px;
}

h2 {
	font-size:18px;
}

li {
	margin-bottom: 8px;
}

p {
	margin-bottom: 9px;
}
/* title areas */ 
.title-wrap {
	margin-bottom: 8px;
	border:1px dotted white;
}

.bb {
	border:1px dotted white;
	border-bottom: 2px solid #f3f3f3;
	margin-bottom: 8px;
}

.icon {
	background-color: #0980AF;
	border-radius: 50px;
	width:40px;
	height:40px;
	float:left;
	//margin-top: 15px;
	padding:5px;
	margin-right: 10px;
}

.icon-details {
	background-color: #EF9017;
	border-radius: 50px;
	width:40px;
	height:40px;
	float:left;
	margin-top: 15px;
	padding:5px;
	margin-right: 10px;
}

.icon-3 {
	background-color: #EF9017;
	border-radius: 23px;
	width:23px;
	height:23px;
	float:left;
	margin-top: -7px;
	padding:5px;
	margin-right: 10px;
	margin-left: -5px;
}

p#spotlight {
	margin:5px 5px 5px 0px;
}

#icon-details-small {
	background-color: #EF9017;
	border-radius: 30px;
	width:30px;
	height:30px;
	float:left;
	margin-top: 15px;
	padding:5px;
	margin-right: 10px;
}

.help-button {
	height:20px;
	width:20px;
	color:white;
	background-color:#0980AF;
	border-radius:20px;
	float:right;
	font-size:16px;
	text-align:center;
	line-height: 20px;
}

/*
.blue-text {color:#0980AF;}
.orange-text {color: #EF9017;}
.blue-background {background-color:#0980AF;}
.orange-background {background-color: #EF9017;}
*/

.title-text-area {
	padding-left: 10px;
}

#title-text {
	color: #0980AF;
	font-weight: bold;
}

.title-text-details {
	color:#EF9017;
	font-weight: bold;
}

#subtitle-text{
	font-size: 11px;
	font-weight: bold;
}

#sub-subtitle-text {
	font-size: 10px;
}

/* additional subheadings above chart */
#chart-subheadings-area {
	margin-bottom: 30px;
}

#chart-subheadings-area div {
	display: inline-block;
	padding-right: 45px;
	font-size: 12px;
}

.subheading span {
	font-weight: bold;
}

.back-to {
	float:right;
	font-weight: bold;
	font-size: 12px;
	margin-top: -30px;
	color: #0980AF;
}

.transport-bar {
	width:800px;
	margin:0 auto;
	background-color: #E6EAED;
	margin-bottom: 10px;
	color: #0980AF;
	vertical-align: middle;
	font-size: 9px;
	font-weight: bold;
}

td.transport-left {
	background-color: #E6EAED;
}

td.transport-center {
	background-color: #E6EAED;
	text-align: center;
	color:#EF9017;
}

i.transport-center {
	text-align: center;
}

td.transport-right {
	background-color: #E6EAED;
	text-align: right;
	vertical-align: top;
}

.transport-bar td {
	width:260px;
}

span.year {
	font-size: 14px;
	line-height: 4px;
}

span.spotlight {
	color:orange;
}

div.spacer {
	width:18px;
	display:inline-block;
}

div.year {
	display: inline-block;
	padding:0px 4px 0px 4px;
	font-size: 12px;
	font-weight: bold;
	border:1px dotted red;
}
/* within the chart */
#overview-container, 
#details-container {
	margin: 0 auto;
	width:800px;
}

.highcharts-tooltip {
	background-color: #ffffff;
	z-index: 6;
	width:400px;
}

.highcharts-tooltip span {
  overflow:auto;
  white-space: normal;
  width:400px;
  background-color: #ffffff;
  z-index: 7;
}

div.popLabel {
	width: 83px;
	height:40px;
  white-space: normal;
  text-align: center;
  position: relative;
  font-weight: bold;
}

div.popLabel.worst {
	top:47px;
	color: #B7404A;
}

div.popLabel.best {
	color: #0980AF; //blue
	padding-bottom: 3px;
	height:45px;
}

/* Data text and table area */
table {
	width:245px;
	float:left;
	font-size: 10px;
	border-collapse: collapse;
	margin-right: 20px;
	margin-bottom: 20px;
	clear:left;
}

td {
	padding:5px;
	border-bottom: 2px solid #f3f3f3;
	vertical-align: top;
}

th {
	text-align: left;
	height:20px;
	border-top: 2px solid #f3f3f3;
	border-bottom: 2px solid #f3f3f3;
	vertical-align: middle;
}

td.left {
	width:150px;
}

td.right {
	text-align: center;
	font-weight: bold;
}

td.right span {
	color:#999;
	font-size: 10px;
}

th.right {
	text-align: center;
}


.data-list {
	float:right;
	width:620px;
	font-size: 12px;
	padding:9px 0px 23px 23px;
	border-left: 2px solid #f3f3f3;
	border-bottom: 2px solid #f3f3f3;
	margin-right: 26px;
}

.data-list-2 {
	float:right;
	width:620px;
	font-size: 12px;
	padding:9px 0px 23px 23px;
	border-left: 2px solid #f3f3f3;
	margin-right: 26px;
}

/* footnote area */ 
.footnote-wrap {
	font-size: 11px;
	padding-top: 20px;
	padding-bottom: 20px;
	display: block;
	//border:1px dotted green;
}

p#data-source {
	font-size: 10px;
	padding-bottom: 20px;
}

#data-source span {
	font-weight: bold;
}

#footnotes-title {
	width:300px;
	font-size: 16px;
	font-weight: bold;
	color:#528171; //green
	margin-top: 8px;
}

#footnotes-text {
	font-size: 11px;
}

#toggler {
	margin-left: 30px;
}

.clearfix {
	clear:both;
}

/* junk pile to salvage


.highcharts-container {
	margin: 0 auto;
}

div.tooltip-div {
	background-color: #ffffff;
}


#footnote, #footnotes {
	font-size: 11px;
	padding-top: 20px;
}

#footnotes-wrap span {
	font-weight: bold;
	width:150px;
	display: inline-block;
}



*/